.productImage{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    
    
}

.productContent{
    margin-top: 20px;
    padding: 20px 20px 0 20px;
 
}

@media screen and (min-width: 800px){
    .productContent{
        border-left: goldenrod;
        border-left-style: dotted;
    }
    
}

@media screen and (max-width: 800px){
    .productImage{
        width: 200px;
        height: 200px;
        margin: auto;
    }
}

.productCard{

    background-color: #dcdcdc;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    border-radius: 15px;
    margin: 20px;
    
    

}

.productCard:hover{
    box-shadow: 5px 10px gray;
    background-color: #c4c4c4;
    cursor: pointer;
}



.prodPara{
    text-align: left;
}

.prodHR{
    border-color: goldenrod !important;
}

.prodCardRow{
    margin: 20px 0;
}

.headerBar{
    height: 7%;
    width: 100%;
    background-color: #282c34;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}