.productImageWrapper{
    /* display: flex; */
    padding: 5%;
}

.productImage{
    
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* margin-top: 20px;
    margin-bottom: 30px; */
    /* overflow: hidden;  */
    width: 100%;
    /* flex: 1; */

    
    
}

.productContent{
    margin-top: 20px;
    padding: 20px 20px 0 20px;
 
}

@media screen and (min-width: 800px){
    .productContent{
        border-left: goldenrod;
        border-left-style: dotted;
    }
    
}



.productCard{

    background-color: #dcdcdc;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    border-radius: 15px;
    margin: 20px;
    
    

}

.productCard:hover{
    box-shadow: 5px 10px gray;
    background-color: #c4c4c4;
    cursor: pointer;
}



.prodPara{
    text-align: left;
}

.prodHR{
    border-color: goldenrod !important;
}

.prodCardRow{
    margin: 20px 0;
    
}

.headerBar{
    min-height: 8%;
    width: 100%;
    background-color: #282c34;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}

.prodDesc{
    text-align: justify;
}

.headerBar img{
    width: 50px;
    float: left;
    cursor: pointer;
}

.input{
    border: 0 none none;
    border-radius: 5px;
    background-color: white;
    height: 1%;
}

@media screen and (max-width: 800px){
    .input{
        height: auto;
    }
}