.productDetailsContent{
    text-align: left;
    margin-bottom: 10%;
}

.productDetailsRow{
    margin-top: 7%;
}

.prodDesc{
    text-align: justify;
}

.accDiv{
    cursor: pointer;
}

.accDiv:hover{
    background-color: gray;
}

.prodImage{
    
  width: 60%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  
  float: none;
}

em{
    font-weight: bold;
}

.recCard{
    padding: 10px;
    background-color: wheat;
    border-radius: 5px;
    margin: 10px;
}
.recCard:hover{
  
    background-color: whitesmoke;
    border: 1px solid wheat;
    cursor: pointer;
    
   
}

.prodImageRec{
    width: 40%;
}

.backBtn{
    position: -webkit-sticky;
  position: sticky;
  top: 9%;
  z-index: 2;
  width: 70px;
  cursor: pointer;
}