.productDetailsContent{
    text-align: left;
    margin-bottom: 10%;
}

.productDetailsRow{
    margin-top: 7%;
}

.prodDesc{
    text-align: justify;
}

.accDiv{
    cursor: pointer;
}

.accDiv:hover{
    background-color: gray;
}

.prodImage{
    
  width: 60%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  
  float: none;
}